{% extends 'layout.html' %}

{% block title %}Crear Nueva Nota{% endblock %}

{% block content %}
  <h2>Crear nota</h2>
  <hr>
  <div class="col-md-8">
    <form method="POST">
      <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" class="form-control" id="titulo" name="titulo" required>
      </div>
      <div class="mb-3">
        <label for="contenido" class="form-label">Contenido</label>
        <textarea class="form-control" id="contenido" name="contenido" rows="5"></textarea>
      </div>
      
      <button type="submit" class="btn btn-primary">Agregar</button>
      <a href="{{ url_for('listar_notas') }}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endblock %}